.overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.drawerMenu{
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
    position: fixed;
    width: 100%;
    height: 50%;
    z-index: 500;
    /* 最下部固定メニュー(FixedMenuの高さ)58だと隙間が出るため調整 */
    bottom: 55;
    left: 0;
}

.btn{
    padding: var(--space-sm);
    align-self: flex-end;
    background-color: inherit;
    border: none;
}

.list{
    margin-block: 0;
    padding-inline: var(--space-sm);
}

.item{
    padding-block: var(--space-sm);
    padding-inline-start:  var(--space-sm);
    border-bottom: 1px solid var(--base-color);
    font-family: var(--fontfamily-sub);
    color: var(--text-color);
}

.searchArea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xs);
}

.link{
    font-size: var(--fontsize-md);
}

.searchBox{
    width: 240px;
    height: auto;
    padding-block: 10px;
    padding-inline: 10px;
    background-color: var(--base-color);
}