.header{
    width: 100%;
    margin-block: var(--space-sm);
    border-top: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 240px 1fr;
}

.title{
    margin: 0;
    grid-column: 2 / 3;
}