.container{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

.imgbox{
    width: 60%;
    margin-inline: auto;
}

.imgbox img{
    width: 100%;
    vertical-align: bottom;
}

@media (width < 500px) {
    .imgbox{
        width: 90%;
    }
}