.list{
    max-width: var(--max-width-pc);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 490px));
    justify-content: center;
    gap: 5%;
}

.item{
    padding-bottom: var(--space-md);
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    row-gap: var(--space-xs);
    justify-content: center;
    text-align: center;
    background-color: white;
    border: 1px solid var(--text-color);
    font-size: var(--font-size-sm);
}

.img{
    display: block;
    object-fit: cover;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name{
    font-size: clamp(1rem, 0.426vw + 0.867rem, 1.25rem);
}

.desc{
    margin-inline: var(--space-sm);
    line-height: 1.7;
}

@media (width < 500px) {
    .list{
        max-width: var(--max-width-sp);
        display: block;
    }
    .item{
        margin-block-end: var(--space-lg);
    }
    .desc{
        font-size: var(--fontsize-sm);
    }
}