.tag{
    width: 72px;
    padding-block: var(--space-xs);
    background-color: var(--main-color);
    font-size: var(--fontsize-sm);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width < 700px) {
    .tag{
        font-size: var(--fontsize-xs);
    }
}