.container{
    width: 100%;
    max-width: var(--max-width-pc);
    margin-block: 0;
    margin-inline: auto;
    padding-block: var(--space-sec);
    padding-inline: var(--space-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
    letter-spacing: 0.05em;
    line-height: 1.7;
    font-size: clamp(0.875rem, 0.426vw + 0.742rem, 1.125rem);
}

.list{
    width: 80%;
    margin-block: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.list p{
    margin-block: 0;
}

.title{
    font-size: clamp(1.25rem, 0.426vw + 1.117rem, 1.5rem);
    font-weight: 400;
}

.item{
    margin-block: 0;
}

.crosshead{
    margin-block: var(--space-sm);
    font-weight: 400;
}

.text{
    margin-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.link{
    padding: var(--space-xs);
    background-color: var(--main-color);
    color: var(--text-color);
    transition: all 0.3s ease-out 0s;
}

@media (hover: hover) {
    .link:hover{
        letter-spacing: 0.1em;
    }
}

@media (width < 700px) {
    .container{
        max-width: var(--max-width-sp);
        padding-block: var(--space-lg);
    }
    .link{
        font-size: var(--fontsize-ss);
    }
}